<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>BeetleApp</title>
  </head>
  <body>
    <h1>BeetleApp</h1>
    {% if user.is_authenticated %}
    <p>Hola {{user.username}}</p>
    <form action="{% url 'logout' %}" method="post" style="display: inline">
      {% csrf_token %}
      <button type="submit">Salir</button>
    </form>
    <p><a href="{% url 'observation_create' %}">Nueva Obvservación</a></p>
    <p><a href="{% url 'observation_list' %}">Mis Observaciónes</a></p>

    {% else %}
    <p><a href="{% url 'login' %}">Ingresar</a></p>
    <a href="{% url 'register' %}">Registrarme</a>
    {% endif %}
  </body>
</html>
