<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}BeetleApp{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <style>
      body {
        font-family: sans-serif;
        margin: 1rem 2rem;
      }
      nav a {
        margin-right: 1rem;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="{% url 'home' %}">Inicio</a>
      {% if user.is_authenticated %}
      <a href="{% url 'observation_create' %}">Nueva</a>
      <form action="{% url 'logout' %}" method="post" style="display: inline">
        {% csrf_token %}
        <button type="submit">Salir</button>
      </form>
      {% else %}
      <a href="{% url 'login' %}">Ingresar</a>
      <a href="{% url 'register' %}">Registrarse</a>
      {% endif %}
    </nav>
    <main>{% block content %}{% endblock %}</main>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
